# Introduction

**üìë Table of Content :
Python Basic-Day-01**
* [Introduction of python](#intro)
* [Mindblowing applications of AI](#app)  
* Implementation of python(Part-01)
  * [print and input function](#print)  
  * [Variables and Maths Operations](#variables) 
  * [List](#list)  
  * [Sets](#set)  
  * [Casting](#cast)  
  * [Dictionaries](#dict)  
  * [Tuples](#tuple)  
  * [String](#string)  
  
  
* Implementation of python(Part-02)  
    * [Conditional execution](#conditional)
    * [For-loops](#loop)
    * [List Comprehensions](#list_comprehension)
    * [Functions](#func)  
    * [Lambda expressions](#lambda)    
    * [Errors and Exceptions Handling](#error)

![introduction](./images/introduction.png)

 ## <a id="intro">What is the 'Zen of Python' and why should I care?</a>

In [11]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

The Zen of Python is a poem by Tim Peters, each line of which expresses something fundamental about the nature/design of Python.

# <a id ="app">Mindblowing applications of AI</a>
* **GAN** : Generator of fake faces of non-existent humans  
https://this-person-does-not-exist.com/en  


* **GPT-3**: Generative Pre-trained Transformer 3 is an autoregressive language model that uses deep learning to produce human-like text.  
https://www.youtube.com/watch?v=jz78fSnBG0s  


* **AIVA**: he Artificial Intelligence composing emotional soundtrack music  
https://www.youtube.com/watch?v=Emidxpkyk6o   
TRY IT YOURSELF: https://creators.aiva.ai/


* **DALL¬∑E 2**: is a new AI system that can create realistic images and art from a description in natural language.  
https://www.youtube.com/watch?v=qTgPSKKjfVg 


* **OpenAI Codex**: OpenAI Codex is an artificial intelligence model developed by OpenAI. It parses natural language and generates code in response. It is used to power GitHub Copilot, a programming autocompletion tool developed for Visual Studio Code.  
https://www.youtube.com/watch?v=cLQc-5BJz4g


* **Google‚Äôs Imagen AI** :Imagen is an AI system that creates photorealistic images from input text
![Imagen](./images/Imagen.png)  
  
    
    
TRY IT YOURSELF : 
https://colab.research.google.com/drive/1n_xrgKDlGQcCF6O-eL3NOd_x4NSqAUjK#scrollTo=TnMw4FrN6JeB

* **OpenAI Five** Beats World Champion DOTA2 Team 2-0: OpenAI Five is a computer program by OpenAI that plays the five-on-five video game Dota 2.  

* **Quick, Draw!** :The game challenges you to draw an object within a time limit while it attempts to guess what your doodle is.  
TRY IT YOUSELf: https://quickdraw.withgoogle.com/  
* **Talk to Books**: This AI experiment was developed and trained using almost a billion lines of dialogues so it can adequately respond to any question that‚Äôs input to it. It scans over 100,000 books in response to any question, and attempts to find an answer from them.  
TRY IT YOURSELF: https://books.google.com/talktobooks/

# Getting your hands dirty with python

## <a id="print">Print</a>
The `print()` function allows you to send output to the terminal  
>**‚ùó NOTE:**
Please take care to note that "print" is all lower-case (Python is case-sensitive). And don't forget the curly brackets! "()"

In [14]:
print("hello world!")

hello world!

In [15]:
print(2 + 3)

5

Strings can be enclosed in single quotes or double quotes

* "this is a string"
* 'this is also a string'

## input
`input()` function: read user (you)'s input

In [53]:
my_name = input()
print("my name is", my_name)

Sevda
my name is Sevda

## Math Operators
From **Highest** to **Lowest** precedence:

| Operators | Operation        | Example         |
| --------- | ---------------- | --------------- |
| **        | Exponent         | `2 ** 3 = 8`    |
| %         | Modulus/Remaider | `10 % 3 = 1`    |
| //        | Integer division | `10 // 3 = 3`   |
| /         | Division         | `22 / 8 = 2.75` |
| *         | Multiplication   | `3 * 3 = 9`     |
| -         | Subtraction      | `5 - 2 = 3`     |
| +         | Addition         | `2 + 2 = 4`     |

![math](./images/math.png)

In [43]:
print((2 + 3) * 6)

30

## <a id="variables">Variables</a>
We can give a name to a value using variable.

In [5]:
age = 20
print("Kasra is now:")
print(age)
print("Kasra two years later:")
newage = age + 2
print(newage)

Kasra is now:
20
Kasra two years later:
22

## Strings  
Python can store and manipulate strings. Strings can be enclosed in single or double quotes.

In [19]:
firstname = 'sevda'
print(firstname)

sevda

> **‚ùì QUESTION:** What happens if we use quotation marks, around the "firstname"?

In [29]:
print("firstname")

firstname

## Booleans
Boolean values represent truth or falsehood.

<br>
<div class="alert alert-block alert-info">
    <b>Syntax</b>
    <br>
    <ul>
        <li>To assign a variable with a specific value, use `=`</li>
        <li>To test whether a variable has a specific value, use the boolean operators:</li>
        <ul>
            <li>equal: `==`</li>
            <li>not equal: `!=`</li>
            <li>greater-than: `>`</li>
            <li>less-than: `<`</li>
        </ul>
        <li>You can also add helpful comments to your code with the `#` symbol. Any line starting with a `#` is not executed. I find it very useful to make detailed notes about my thinking since, often, when you come back to code later you can't remember why you did what you did, or what your code is even supposed to do.</li>
    </ul>
</div>

In [8]:
a = input("enter first number:")
b = input("enter second number:")

x = a < b
print(x)

enter first number:3
enter second number:1
False

## Integers
Integers represent whole numbers.

In [24]:
i = -7
j = 123
print(i, j)
print(type(i))

-7 123
<class 'int'>

## Floating point numbers
Floating point numbers, often simply referred to as floats, are numbers expressed in the decimal system, i.e. 2.1, 999.998, -0.000004 etc. The value 2.0 would also be interpreted as a floating point number, but the value 2, without the decimal point will not; it will be interpreted as an integer.

In [26]:
x = 3.14159
y = -42.3
print(x * y)

-132.889257

## The None object
The None object is special built-in value which can be thought of as **representing nothingness or that something is undefined.**

In [27]:
z = None
print(z, "is of", type(z))

None is of <class 'NoneType'>

# data structures in python
The general idea is that you can place several items into a single collection and then refer to that collection as a whole. Which one you will use will depend on what problem you are trying to solve.  

![collections](./images/collections_3.png)

## <a id="list">Lists</a>
* Can contain any number of items
* Can contain different types of items
* Can be altered once created (they are mutable)
Items have a particular order

In [36]:
a = [1, 3, 9, 'Py', 217.213]
b = [True] 
c = []                 

print(a,b,c, sep="\n")

[1, 3, 9, 'Py', 217.213]
[True]
[]

### Indexing
You can access individual elements of the collection using their index, note that the first element is at index 0. Negative indices count backwards from the end.
![hermes](./images/Hermes.png)

In [10]:
my_list = [20, 30, 45, 78]
print(my_list[0])
print(my_list[-1])

20
78

### len() function
You can get the length of a list with the in-built `len()` function.

In [57]:
my_list = [1, 1,1, 2, 3, 4, 5 , 6]
print("length of my_list is", len(my_list))

length of my_list is 8

### count() function
you can count the number of particular elements contained in a list with the `count()` function.

In [58]:
my_list = ["cat", "cat","cat", "dog", "bird"]
print("number of cats in my_list is", my_list.count("cat"))

number of cats in my_list is 3

### Slices
You can also access a range of items, known as slices, from inside lists and tuples using a colon : to indicate the beginning and end of the slice inside the square brackets.  
>**‚ùó Note that the slice notation [a:b] includes positions from a up to but not including b.**

![slicing](./images/slicing2.png) ![slicing](./images/slicing.png)

In [38]:
my_list = [20, 30, 45, 78]
print("my_list[2:] is", my_list[2:])

my_list[2:] is [45, 78]

You can also slice a parent list with a fixed length or step length.

In [15]:
num = [3,6,4,9,4,3,6,6,8,9] 
print(num[:8:3])

[0, 3, 6]

we can use slicing to copy a list

In [94]:
list1 = [1,2,3]
copy = list1[:]
print(copy)

[1, 2, 3]

>**‚õî NOTE:** **DO NOT** try below code for copying a list:

In [92]:
list1 = [1,2,3]
copy1 = list1  
copy1[2] = 6
print(list1)

[1, 2, 6]

>use slicing instead

In [93]:
list1 = [1,2,3]
copy2 = list1[:]
copy2[1] = 5
print(list1)

[1, 2, 3]

### Reversing lists
This can be done either by step in slicing or buit in List funciton:

In [97]:
num = [0,1,2,3,4,5,6,7,8,9] 
num.reverse()
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [98]:
num = [0,1,2,3,4,5,6,7,8,9] 
reversed_list = num[::-1]
print(reversed_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### in operator
You can check if a value is in a list with the in operator, and you can negate this with not

In [39]:
my_list = [20, 30, 45, 78]
print('123 in', my_list, 123 in my_list)
print('30 in', my_list, 30 in my_list)

123 in [20, 30, 45, 78] False
30 in [20, 30, 45, 78] True

### List modification
You can alter lists in place.

In [46]:
mix_list = ['Hermes', 28, 5.4, True]
print(mix_list)
mix_list[0] = 'hello'
print(mix_list)

['Hermes', 28, 5.4, True]
['hello', 28, 5.4, True]

### Adding item in list
You can add elements to the end of a list with `append()`

In [47]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

or insert values at a certain position with `insert()`

In [48]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

### append and extend

In [54]:
my_list = [20, 30, 45, 78]
test_list = ["extend1", "extend2"]
my_list.append(test_list)
my_list

[20, 30, 45, 78, ['extend1', 'extend2']]

In [55]:
my_list = [20, 30, 45, 78]
test_list = ["extend1", "extend2"]
my_list.extend(test_list)
my_list

[20, 30, 45, 78, 'extend1', 'extend2']

The plus symbol + is shorthand for the extend operation when applied to lists.

In [56]:
my_list = [20, 30, 45, 78]
test_list = ["extend1", "extend2"]
a = my_list + test_list
print(a)

[20, 30, 45, 78, 'extend1', 'extend2']

### Removing Values from Lists

In [58]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

>**‚ùó NOTE:** A thing to keep in mind when using the remove() method is that it will search for and will remove only the first instance of an item.

In [54]:
programming_languages = ["JavaScript", "Python", "Java", "Python", "C++", "Python"]

programming_languages.remove("Python")

print(programming_languages)

['JavaScript', 'Java', 'Python', 'C++', 'Python']

The `pop()` method does two things, first it removes the item from the list, and second it returns that item. By default, pop will remove the last item in this list, but if you give it an index, it can 'pop' something from any position.

In [48]:
lst = ["first", "middle", "last"]
item = lst.pop() # item now is assigned to "last". Last is removed from list.
print("item is '{}'".format(item), "lst is {}".format(lst), sep="\n")

item is 'last'
lst is ['first', 'middle']

In [49]:
lst = ["first", "middle", "last"]
item_2 = lst.pop(0) # index 0 is the first item
print("\nitem_2 is '{}'".format(item_2), "lst is {}".format(lst), sep="\n")

item_2 is 'first'
lst is ['middle', 'last']

## <a id="set">Sets</a>
* Sets contain unique elements, i.e. no repeats are allowed
* The elements in a set do not have an order
* Sets cannot contain elements which can be internally modified (e.g. lists and dictionaries)
* Use sets to extract unique data from lists.

In [17]:
s = set([1, 2, 3, 2, 3, 3, "dog", "cat", "cat"]) # set of 3 unique values
print(s)

{1, 2, 3, 'dog', 'cat'}

>**‚ùó NOTE:** Sets are very similar to lists and you can use many of the same operators and functions, except they are inherently unordered, so they don't have an index, and can only contain unique values, so adding a value already in the set will have no effect

In [61]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

You can remove specific elements from the set.

In [62]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

**intersection or &** will return a set containing only the elements that are common to all of them.

In [63]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
print(set1.intersection(set2))

{3, 4}

**union() or |** will create a new set that contains all the elements from the sets provided.

In [88]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

**difference or -** will return only the elements that are in one of the sets.

In [89]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
print(set1.difference(set2))

{1, 2}

**Symmetric Difference** of A and B is a set of elements in both A and B except those that are common in both.Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference()

In [125]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
print(set1.symmetric_difference(set2))

{1, 2, 5, 6}

![set](./images/set.png)

### <a id="cast">Converting Types with the list and set Functions</a>

* As we mentioned it before, we can use set to extract unique data from lists.
This can be done by casting.

In [87]:
mylist = ['a', 'b', 'c', 'a', 'a', 'd', 'b']
myset = set(mylist)
my_unique_list = list(myset)
print('my list: ', mylist)
print('my set: ', myset)
print('my unique list: ', my_unique_list)

my list:  ['a', 'b', 'c', 'a', 'a', 'd', 'b']
my set:  {'d', 'b', 'a', 'c'}
my unique list:  ['d', 'b', 'a', 'c']

## <a id="dict">Dictionaries</a>
Dictionaries are key/value pairs of a collection of items. Unlike a list where items can only be accessed by their index or value, dictionaries use keys to identify each item.

* Contain a mapping of keys to values (like a word and its corresponding definition in a dictionary)
* The keys of a dictionary are unique, i.e. they cannot repeat
* The values of a dictionary can be of any data type
* The keys of a dictionary cannot be an internally modifiable type (e.g. lists, but you can use tuples)
* Dictionaries do not store data in any particular order

![dictionary](./images/dictionary.png)

In [25]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
print(user, "\n")
print(user["firstname"])

{'firstname': 'John', 'lastname': 'Smith', 'email': 'john.doe@domain.fr'}

John

>**‚ùó NOTE:** An error is triggered if a key is absent from the dictionary.

In [66]:
print(user["age"])

KeyError: 'age'

You can access values safely with the `get()` method, which gives back None if the key is absent and you can also supply a default values

In [67]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
print("What about age?", user.get('age'))

What about age? None

You can check if a key is in a dictionary with the **in operator**, and you can negate this with not

In [70]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
"age" in user

False

In [71]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
"phone-number" not in user

True

The `len()` function gives back the number of (key, value) pairs in the dictionary

In [72]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
print(len(user))

3

You can **introduce new entries** in the dictionary by assigning a value with a new key

In [28]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
user["age"] = 20
print(user)

{'firstname': 'John', 'lastname': 'Smith', 'email': 'john.doe@domain.fr', 'age': 20}

You can **change the value for an existing key** by reassigning it

In [74]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
user["firstname"] = "Tom"
print(user)

{'firstname': 'Tom', 'lastname': 'Smith', 'email': 'john.doe@domain.fr'}

You can get a list of all the keys (in arbitrary order) using the inbuilt `keys()` function

In [76]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
print(list(user.keys()))

['firstname', 'lastname', 'email']

And equivalently **get a list of the values**

In [77]:
user = {"firstname":"John", "lastname":"Smith", "email":"john.doe@domain.fr"}
print(list(user.values()))

['John', 'Smith', 'john.doe@domain.fr']

## <a id="tuple">Tuples</a>

* Can contain any number of items
* Can contain different types of items
* **Cannot** be altered once created (they are immutable)
* Items have a defined order

In [82]:
a = (123, 54, 92) # tuple of 4 integers
b = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a, b, sep="\n")

(123, 54, 92)
(2, 3, False, 'Arg', None)

Use **indexing and slicing** just like we did in lists

In [85]:
a = (123, 54, 92)
print(a[1:3])
print(a[0])

(54, 92)
123

### Immutability
It can't be stressed enough that tuples are immutable. To drive that point home:

In [1]:
a = (123, 54, 92)
a[0] = 24

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [2]:
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

## Conclusion
![collections2](./images/collections_2.png)

## <a id="string">Strings</a>
Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [101]:
string0 = 'My name is Python'
string1 = "My name is Python"
string2 = '''My name
is
Python'''
print(string0, string1, string2, sep="\n")

My name is Python
My name is Python
My name
is
Python

>**‚ùó NOTE:** Strings are a lot like tuples of characters, and individual characters and substrings can be accessed and manipulated using similar operations we introduced above.

In [102]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABC" in text)
print(len(text))

A
G
ABCDEF
True
True
8

### Built-in Functions for Strings

In [106]:
word = "hermes"
print(word, len(word))
print(word.capitalize())
print(word.upper())
print(word.lower())

hermes 6
Hermes
HERMES
hermes

`find( )` function returns the index value of the given data that is to found in the string. If it is not found it returns -1.
>**‚ùó NOTE:**
> *  Remember to not confuse the returned **-1** for reverse indexing value.
> * The index value returned is the index of the first element in the input data.

In [109]:
word = "hermes"
print(word.find("rm"))

2

`join( )` function can be used to convert a list into a string.

In [112]:
my_list = ["my", "name", "is", "python"]
print(" ".join(my_list))

my name is python

`split()` function is used to convert a string back to a list. Think of it as the opposite of the join() function.

In [113]:
text = "my name is python"
print(text.split(" "))

['my', 'name', 'is', 'python']

`replace( )` function replaces the element with another element.

In [115]:
text = "my name is python"
print(text.replace('python', 'hermes'))

my name is hermes

You can also apply simple operators to your variables, or assign multiple variables simultaneously.

In [119]:
one = 1
two = 2
three = one + two
print(three)

hello = "Hello,"
world = "World!"
helloworld = hello + " " + world
print(helloworld)

3
Hello, World!

> **‚ùó NOTE:** mixing variable types causes problems.

In [120]:
one = 1
two = 2
hello = "HEllo"
print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

> **üåü SOLUTION:** Add variables to a string with `format`

### String formatting
Python 3 introduced a new way to do string formatting that was later back-ported to Python 2.7. This makes the syntax for string formatting more regular.

In [116]:
'Insert another Bootcamp with curly brackets: {}'.format('The Machine Learning BootCamp!')

'Insert another Bootcamp with curly brackets: The Machine Learning BootCamp!'

In [118]:
name = 'Sevda'
age = 20

"Hello I'm {}, my age is {}".format(name, age)

"Hello I'm Sevda, my age is 20"

* we can also format floating point numbers with `format`

In [121]:
variable = 1/3 * 100
print("Unformated variable: {}%".format(variable))
print("Formatted variable: {:.2f}%".format(variable))

Unformated variable: 33.33333333333333%
Formatted variable: 33.33%

## <a id="conditional">Conditional execution</a>
### What is an if statement?
A conditional if statement is used to specify that some block of code should only be executed if some associated test is upheld.

In [6]:
num = 5
if num > 0:
    print(num, "is a positive number.")

num = -2
if num > 0:
    print(num, "is a positive number.")

5 is a positive number.

### Comparison Operators  

| Operator | Meaning                  |
| -------- | ------------------------ |
| `==`     | Equal to                 |
| `!=`     | Not equal to             |
| `<`      | Less than                |
| `>`      | Greater Than             |
| `<=`     | Less than or Equal to    |
| `>=`     | Greater than or Equal to |

These operators evaluate to True or False depending on the values you give them.

In [4]:
'dog' != 'cat'

True

>**‚ùó NOTE:** Python interprets non-zero values as True. None and 0 are interpreted as False.

### else Statements

In [7]:
name = 'Bob'
if name == 'Alice':
    print('Hi, Alice.')
else:
    print('Hello, stranger.')

Hello, stranger.

### elif Statements

In [11]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

### and, or, not
Well say for instance you want to write some code that returns a number that is divisible by 5 **OR** divisible by 10. Maybe you want to write some code that checks if a number is odd **AND** also a perfect square

In [14]:
x = 10
print(x > 9 and x < 11)  # is x greater than 9 AND less than 11.

True

## <a id="loop">For-loops</a>
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for x in numbers:
    print(x, end=" ")

1 2 3 4 5 6 7 8 9

### Loop with range function

- It generates arithmetic progressions
- It is possible to let the range start at another number, or to specify a different increment.
- Since Python 3, the object returned by `range()` doesn‚Äôt return a list to save memory space. `xrange` no longer exists.
- Use function list() to creates it.

In [42]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [26]:
for x in range(8):
    print(x*x, end = " ")

0 1 4 9 16 25 36 49

### The `while` loop
`while` execute while a particular condition is `True`.

In [43]:
count = 0
while count < 5:
    print(count)
    count += 1 # A shorthand for count = count + 1

0
1
2
3
4

> **‚õîNOTE**: When looping, never modify the collection!** Always create a copy of it first.

### Skipping and breaking loops

* **break** Statements: If the execution reaches a break statement, it immediately exits the while loop‚Äôs clause.
* **continue** Statements: When the program execution reaches a continue statement, the program execution immediately jumps back to the start of the loop.

In [30]:
#print positive integers in a list
values = [10, -5, 3, -1, 7]

for v in values:
    if v < 0:
        continue # Skip this iteration   
    print(v)

10
3
7

In [31]:
for i in range(100):
    print (i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

###  ‚ú®Your First Python Toy Game ‚ú®

In [44]:
# Guess a number
import random

secretNumber = random.randint(1, 20)
print("I am thinking of a number between 1 and 20")

print("You have 6 changes")
for guessesTaken in range(1,7):
    print("Take a guess")
    guess = int(input())
    
    # check with stored secretNumber
    if guess < secretNumber:
        print("too low, try again!")
    elif guess > secretNumber:
        print("too high, try again!")
    else:
        break

if guess == secretNumber:
    print("Good job! You guessed my number {} in {} guesses".format(secretNumber, guessesTaken))
else:
    print("Sorry, I was thinking of {}".format(secretNumber))

I am thinking of a number between 1 and 20
You have 6 changes
Take a guess
10
too low, try again!
Take a guess
15
too low, try again!
Take a guess
18
too low, try again!
Take a guess
19
too low, try again!
Take a guess
20
Good job! You guessed my number 20 in 5 guesses

## <a id="list_comprehension">List Comprehensions</a>
Python makes it simple to generate a required list with a single line of code using list comprehensions.

* Create a list using for loop

In [50]:
sq = []
for i in range(10):
    sq.append(i**2)
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* Create a list using comprehension

In [49]:
# Finding squares using list comprehensions
# inline for loop
sq = [i**2 for i in range(10)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

> **‚ùó NOTE:** You can also filter elements in a list using comprehension

In [37]:
sq = [i**2 for i in range(10) if i < 5]
print(sq)

[0, 1, 4, 9, 16]

## <a id="func">Functions</a>
Functions allow you to take code that is repeated and move it to a module that can be called when needed. Functions are defined with the `def` keyword and must be declared before the function is called in your code. Functions can accept parameters and return values.

In [38]:
def sayHello():
    print('Hello world!')
    
sayHello()

Hello world!

we can add a argument within the function

In [39]:
def sayHello(name):
    print('Hello {}!'.format(name))
    
sayHello('Hermes')

Hello Hermes!

The return statement on Functions

In [40]:
#multiply two numbers using a python function
def multiply(x,y):
    z = x*y
    return z

#call the function to multiply the numbers 2 and 3
result = multiply(4,3)
print(result)

12

### Default arguments
Sometimes it is useful to give some arguments a default value that the caller can override, but which will be used if the caller does not supply a value for this argument. We can do this by assigning some value to the named argument with the `=` 
operator in the function definition.

In [41]:
def runSimulation(nsteps=1000):
    print("Running simulation for", nsteps, "steps")

runSimulation()
runSimulation(500)

Running simulation for 1000 steps
Running simulation for 500 steps

> **‚õî NOTE**: Don't use mutable objects as default arguments!

## <a id="error">Errors and Exceptions Handling</a>

> Errors should never pass silently. Unless explicitly silenced. ~ Zen of Python  

The basic terminology and syntax used to handle errors in Python is the `try` and `except` statements.
![errors](./images/errors.png)

### finally
The `finally` block of code will always be run regardless if there was an exception in the try code block

In [51]:
x = 42
y = 0
try:
    print(x / y)
except:
    print('Something really went wrong')
finally:
    print('This always runs on success or failure')

Something really went wrong
This always runs on success or failure

In [53]:
for i in range(10):   
    a = 10/(5 - i)
    print(a)

2.0
2.5
3.3333333333333335
5.0
10.0

ZeroDivisionError: division by zero

In [56]:
for i in range(10):  
    try:
        a = 10/(5 - i)
        print(a)
    except:
        print("error in this index: {}".format(i))

2.0
2.5
3.3333333333333335
5.0
10.0
error in this index: 5
-10.0
-5.0
-3.3333333333333335
-2.5

## üéâ Congratulation! You reached the end of the python notebook!